.footer-wrapper {
  position: fixed;
  bottom: 0;
  margin-left: 50px;
  margin-right: 50px;
  
  .navbar-expand {
    justify-content: space-between;
  }

  .social-wrapper {
    display: flex;

    i {
      color: $primary-honey;
    }
  }
}