.primary-nav {
  margin-left: 50px;
  margin-right: 50px;

  .row {
    align-items: center;
  }
}

.navbar-expand-lg.minicomb-primary-nav {
  flex-direction: column;
  background-color: $background;

  .nav-tier-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    .nav-tier-1-btn-wrapper {
      display: flex;

      .btn-primary {
        height: fit-content;
        white-space: nowrap;
        margin: 0 24px 0 0;
      }

      .social-wrapper {
        display: flex;
        
        a {
          padding: 8px;
        }
      }

      .search-bar {
        min-width: 150px;
        margin: 0 0 0 24px;
      }
    }
  }

  .nav-tier-2 {
    margin-bottom: 16px;

    a {
      font-family: $primary-font;
      text-decoration: none;
      color: $primary-black;
      padding-right: 22px;
  
      &:hover,
      &:focus {
        color: $primary-honey;
      }
    }
  
    .nav-link {
      font-family: $primary-font;
      text-decoration: none;
      color: $primary-black !important;
      padding: 0 22px;
  
  
      &:hover,
      &:focus {
        color: $primary-honey !important;
      }
  
      &::after {
        content: none;
      }
    }
  }

  .logo-1 {
    height: 35px;
  }
}