.navbar-expand-lg {
  height: 100px;
  background-color: $background;

  a {
    font-family: $primary-font;
    text-decoration: none;
    color: $primary-black;
    padding-right: 22px;

    &:hover,
    &:focus {
      color: $primary-honey;
    }
  }
  .drop-down {
    a {
      font-family: $primary-font;
      text-decoration: none;
      color: $primary-black !important;
      padding-left: 22px;
      padding-right: 22px;

      &:hover,
      &:focus {
        color: $primary-honey !important;
      }
    }
  }

  .logo-1 {
    height: 65px;
    width: 200px;
  }
}