.primary-nav {
  margin-left: 50px;
  margin-right: 50px;

  .row {
    align-items: center;
  }
}

.navbar-expand-lg {
  height: 100px;
  background-color: $background;

  a {
    font-family: $primary-font;
    text-decoration: none;
    color: $primary-black;
    padding-right: 22px;

    &:hover,
    &:focus {
      color: $primary-honey;
    }
  }

  .nav-link {
    font-family: $primary-font;
    text-decoration: none;
    color: $primary-black !important;
    padding: 0 22px;


    &:hover,
    &:focus {
      color: $primary-honey !important;
    }
  }

  .logo-1 {
    height: 65px;
    width: 200px;
  }
}