.secondary-button {
  background-color: $primary-honey;
  color: $white;
  font-size: 16px;
  font-weight: regular;
  border-radius: 40px;
  border-color: none !important;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 8px 32px;

  &:hover,
  &:focus {
    background-color: $primary-honey !important;
    border-color: $primary-honey !important;
  }
}