// base colour palette
$background: #F7F8FA;

$honey-1: #FB7A01;
$honey-2: #FF8B54;
$honey-3: #FFA667;
$honey-4: #FFA28C;

$pink-1: #FFBFBF;

$juniper-1: #00C298;

$iris-1: #7F88FF;

$primary-honey: $honey-1;
$primary-green: $juniper-1;
$primary-black:#000000;

$white: #ffffff;