@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$primary-font: 'Open Sans', sans-serif;

html {
  font-family: $primary-font;
  background-color: $background;
}

body,
main {
  background-color: $background;
}